annotated-types   
anyio            
beautifulsoup4     
blinker           
bs4                
certifi           
charset-normalizer 
click           
colorama           
Flask              
grpcio          
h11             
h2          
hpack          
httpcore     
httpx           
hyperframe       
idna             
itsdangerous      
Jinja2         
MarkupSafe      
numpy             
pip               
portalocker       
protobuf        
pydantic         
pydantic_core   
pywin32          
qdrant-client     
requests          
soupsieve          
typing_extensions  
typing-inspection 
urllib3           
Werkzeug       
sentence-transformers